body {
    font-family: 'Montserrat', sans-serif;
    background-image: url(images/tic-tac-toe.png);
    width: 100%;
	margin-right: 20px;
	margin-left: 20px;
}

h2 {
    font-size: 70px;
    color: #404040;
    padding: 10px;
    margin-left: 60px;
    margin-bottom: 5px;
    color: crimson;
}

h3 {
    margin-top: 5px;
}

nav button {
    float: right;
    display: block;
	margin-top: -23px;
    margin-right: 25px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #404040;
    padding: 5px;
    border: none;
    background: none;
}

nav button:hover {
    color: darkgray;
    cursor: pointer;
}

header {
    width: 100%;
    border-bottom: 1px solid #404040;
}

#about{
    float: left;
    padding: 10px;
    width: 60%;
}

#myProject{
    clear:both;
}

section {
    text-align: justify;
    font-size: 30px;
    margin: 40px;
    padding: 10px;
}

#main .project {
    margin: 20px 0 0 0;
    text-align: center;
}

#map{
	text-align: center;
	margin-top: 20px;
	
}

.photo {
    float: right;
	width:35%;
	margin: 30px 0 30px 0;
}

img {
	display: block;
    filter: contrast(70%);
    filter: grayscale(40%);
	width: 100%;
    height: auto;
}

footer {
    clear: both;
    padding: 20px;
    text-align: center;
}


/*formularz*/

.form {
    max-width: 60rem;
}

.form .form-group {
    margin-bottom: 0;
}

.form-group input[type=text],
.form-group input[type=email],
.form-group textarea,
.form-group .state {
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.07);
}

.form-group input[type=text],
.form-group input[type=email],
.form-group textarea {
    padding: 0.8rem;
    border: 1px solid #aaa;
    display: block;
    width: 50%;
    color: #666;
}

.form-group textarea {
    width: 90%;
    height: 8rem;

}

.form-group label {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;

}

.form-group .submit {
    padding: 1rem 2rem 1rem 2rem;
    background: #aaa;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    border: 0;
    font-weight: bold;
    margin-top: 1.5rem;
}

.form-group .submit:hover {
    background: crimson;
    cursor: pointer;
}

/* slider */

.slideshow-container {
    max-width: 358px;
    position: relative;
    margin: auto;
}


.mySlides {
    display: none;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.0s;
    animation-name: fade;
    animation-duration: 1.0s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@media screen and (max-width: 1200px) {
	
		
	header{
		width: 90%;
		margin: 0 auto;
		border-bottom: none;
	}
	
	nav button{
		font-size: 30px;
		margin: 20px 20px 0 0;
		background: white;
		text-align: center;
		padding: 5px;
		border: 1px solid darkgray;
		opacity: 0.7;
	}
	
	#bAbout,
	#bContact,
	#bProject{
		width: 100%;
	}
	
	h2, h3{
		display: none;
		
	}
	
	#main{
		margin-right: auto;
		margin-left: auto;
	}
	
	.photo{
		clear:both;
		width: 110%;
	}
	
    img{
		clear:both;
		height: auto;
		display: block;
    	width:100%;
		margin-top: 0px;
		z-index: -1;
		margin-bottom: -60px;
    }
	
	article{
		width: 90%;
		font-size: 25px;
	}
	 #about{
        clear: both;
        margin:0 auto;
		display: block;
		width: 90%;
    }
	
	#myProject{
		width: 100%;	
	}
  /*  .photo img {
        max-width: 100%;
        height: 484px;
        margin: 0 auto;
    }
    nav button {
        float: right;
        display: block;
    }

    h2 {
        margin: 0 auto;
        width: 100%;
    }
    h3 {
        max-width: 100%;
        text-align: center;

    }
    #about {
        clear: both;
        width: 100%;
    } */

}

@media screen and (min-width: 481px) and (max-width: 1200px) {
	
	header{
		width: 90%;
		margin: 0 auto;
		border-bottom: none;
	}
	
	nav button{
		font-size: 30px;
		margin: 20px 20px 0 0;
		background: white;
		text-align: center;
		padding: 5px;
		border: 1px solid darkgray;
		opacity: 0.7;
	}
	
	#bAbout,
	#bContact,
	#bProject{
		width: 100%;
	}
	
	h2, h3{
		display: none;
		
	}
	
	#main{
		margin-right: auto;
		margin-left: auto;
	}
	
	.photo{
		clear:both;
		width: 110%;
	}
	
    img{
		clear:both;
		height: auto;
		display: block;
    	width:100%;
		margin-top: 0px;
		z-index: -1;
		margin-bottom: -60px;
    }
	
	article{
		width: 90%;
		font-size: 25px;
	}
	 #about{
        clear: both;
        margin:0 auto;
		display: block;
		width: 90%;
    }
	
	#myProject{
		width: 100%;	
	}
  /*  
    .photo img {
        max-height: 284px;
        max-width: 100%;
        margin: 0 auto;
    }

    nav button {
        font-size: 20px;
        padding: 5px;
        text-align: center;
        display: block;
        margin: 0 0 20px 0;
        width: 33%;
    }
    header {
        width: 100%;
    }

    h2 {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    
    h3 {
        max-width: 100%;
        text-align: center;
    }
    
    #about {
        
        clear: both;
        width: 100%;
    }
	*/
}

@media screen and (max-width: 481px) {
	
	header{
		width: 90%;
		margin: 0 auto;
		border-bottom: none;
		margin-bottom: -50px;
	}
	
	nav button{
		font-size: 30px;
		margin: 20px 20px 0 0;
		background: white;
		text-align: center;
		padding: 5px;
		border: 1px solid darkgray;
		opacity: 0.8;
	}
	
	#bAbout,
	#bContact,
	#bProject{
		width: 100%;
	}
	
	h2, h3{
		display: none;
	}
	
	#main{
		margin-right: auto;
		margin-left: auto;
	}
	
	.photo{
		clear:both;
		width: 110%;
	}
	
    img{
		clear:both;
		height: auto;
		display: block;
    	width:100%;
		margin-top: 0px;
		z-index: -1;
    }
	
	article{
		width: 80%;
		font-size: 25px;
	}
	 #about{
        clear: both;
        margin-left: auto;
		margin-right: auto;
		display: block;
		width: 80%;
    }
	
	#myProject{
		width: 90%;	
	}

/*
    nav button {
        font-size: 20px;
        padding: 5px;
        text-align: center;
        display: block;
        margin: 0 0 20px 0;
        width: 33%;
    }
    header {
        width: 100%;
    }

    h3 {
        font-size: 25px;
        max-width: 100%;
        text-align: center;
        border-bottom: 1px solid coral;
    }

    h2 {
        font-size: 60px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    #about {
        clear: both;
        padding: 10px;
        width: 100%;
    }

    #main,
    p {
        font-size: 20px;
    }
	*/
}
